tr
  td
    a(href='/books/' + loan.book.id) #{loan.book.title}
  td
    a(href='/patrons/' + loan.patron.id) #{loan.patron.first_name} #{loan.patron.last_name}
  td #{new Date(loan.loaned_on).toDateString()}
  td #{new Date(loan.return_by).toDateString()}
  
  if loan.returned_on != null 
    td #{new Date(loan.returned_on).toDateString()}
  else
    td
    
  if loan.returned_on == null
    td 
     a.button(href='/loans/return/' + loan.id) Return Book
  else
    td
   
